<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Qsearch - A programmer's search engine">
  <meta name="Qdescription" content="Qsearch - A programmer's search engine">
  <link rel="stylesheet" href="/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <title> QSearch - A programmer's search engine!</title>
  <script src="/script.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
  <body>
    <header>
    <button class="sub_button" id="add_url" >
      <b>+ &nbsp;</b>add URL
    </button>
    </header>

  </body>
</html>  