<%- include('partials/header.ejs') %>
<form action="/search" method="get" class="px-4 py-4">
<input type="text" placeholder="Begin your search!" id="search_box" name="q" class="p-2 hover:shadow-lg rounded-lg"></input>
<center><button type="submit" class="p-1 bg-teal-500 rounded-lg py-2 px-6 text-white"><i class="fa fa-search"></i>&nbsp; search</button></center>
</form>