<%- include('partials/header.ejs') %>
<input type="text" placeholder="begin your search!" id="search_box"></input>
<center>
<button class="sub_button" id="add_url">
     + <!-- i need this aligned with the top right corner of doc -->
</button>
</center>