<%- include('partials/header.ejs') %>
<form action="/s" method="get">
<input type="text" placeholder="begin your search!" id="search_box" name="q" class="p-2 hover:shadow-lg rounded-lg"></input>
<center><button type="submit" class="p-1 bg-teal-500 rounded-lg py-8 px-2 text-white"><i class="fa fa-search"></i>&nbsp; search</button></center>
</form>