<% include('partials/header.ejs') %>
<a href="/"><button class="p-1 bg-teal-500 rounded-lg py-2 px-6 text-white">return to search</button></a>
<h3>Here is what we found:</h3>
<script>
  console.log(<%= urlsIndexed %>)
</script>
<!-- should just output the urlsIndexed property to the array? right? -->