<% include('partials/header.ejs') %>
<script src="https://github.com/mde/ejs/releases/download/v3.0.2/ejs.min.js" defer></script>
<a href="/"><button class="p-1 bg-teal-500 rounded-lg py-2 px-6 text-white">return to search</button></a>
<h3>Here is what we found:</h3>
<div style="visibility:hidden;">
  
<%= urlsIndexed -%>
  
</div>