<% include('partials/header.ejs') %>
<a href="/"><button>return to search</button></a>
<h3>Here is what we found:</h3>
<% if (sites) { %>
<% for(const item of SITES){ %>
  
<% } }%>
<!-- ello everyone, welcome back to the 1st/2nd video on my yt channel, today, i am working on a search engine known as QSearch, it is a search engine for programmers! 

It is designed so only people who wanna be indexed, will be indexed, no more crawlers, pure, wonderful, hiding on the internet, no more spies from google, none of that... so, lets get to work, shall we?


as you can see, this is a 3 person project, me, and the other 2 fellas, credit will be given to them in the description of this video!